page-relatorio {

}


.busca-relatorio{
    width: 216px;
    border: none;
    font-size: 25px;
}

.icone-search-relatorio{
    font-size: 25px;
    background-image: url(../../assets/icon/search.png);
    background-size: contain;
    width: 17px;
    height: 17px;
    right: -16px;
    bottom: -6px;
    position: relative;

}